h2{
    margin-top: 35px;
    text-align: center;
    font-size: 37px;
    margin-left: 42%;
    color: #ffc107;
    margin-bottom: 0;
}

h1{
    margin-bottom: 20px;
    color:#D6FCE1;
    font-size: 70px;
    text-align: center;    
    margin-left: 38%;
    margin-right: 30%;
    margin-top: 0;
}