.header-column {
  text-align: center;
}

.welcome-header {
  color: #F9BA48;
}

.brand-header {
  color: #D6FCE1;
}

.orange-border {
  background-color: #ffc107;
  margin: 10px;
  box-shadow: 5px 5px 10px 10px #ffc107;
  border-color: #ffc107;
  box-shadow: 0 0 10px#ffc107;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.eventlist{
  height: 340px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow-y:scroll;
}

.message-bg {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.invitelist{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}