<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    AppName
  </a>
  
  <!-- Links -->
  <ul class="nav navbar-nav ml-auto">

    {{!-- <li class="nav-item">
      <a class="nav-link" href="/some-feature">Menu item here</a>
    </li> --}}

    {{#if isloggedin}}
      <li class="nav-item">
        <a class="nav-link" href="/example">Example page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    {{else}}
      <li class="nav-item">
        <a class="nav-link" href="#" id="login-modal">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register" data-register={{register}}>Register</a>
      </li>
    {{/if}}
  </ul>
</nav>

{{> modal/login-block}}
