#radius {
  border-radius: 15px;
}

#radiushead {
  border-radius: 15px 15px 0px 0px;
  border-color: #F9BA48;
}

.bg-head {
  background-color: #555555;
  color: #D6FCE1;
  font-style: italic;
  font-size: xx-large;
}

.scorefont {
  font-size: x-large;
  color: black;
  font-family: cursive;
}