#err-msg {
  color: black;
}

.container {
  margin-top: 50px;
}

.login{
  background-color: #ffc107;
  box-shadow: 5px 5px 10px 10px #ffc107;
  border-color: #ffc107;
  box-shadow: 0 0 10px#ffc107;
  border-radius: 10px;
  height: 350px;
  margin-top: 50px;
  padding-top: 10px;
}

#register-form{
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.main{
  align-items: center;
}