#youreventbox{
    background-color: #ffc107;
    margin: 10px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px 10px #ffc107;
    border-color: #ffc107;
    box-shadow: 0 0 10px#ffc107;
    text-align: center;
    border-radius: 10px;

}

.eventlist{
    height: 400px;
    background-color: white;
    border-radius: 10px;
}